html {
    height: 100%;
}
body {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
}

h1 {
	font-family: "Montserrat", sans-serif;
	text-align: center;
}

h2 {
	font-family: "Montserrat", sans-serif;
	text-align: center;
	font-size: 24px;
}

section{
    position:relative;
    height:100%;
    width:100%;
}

#main {
	background-color: rgb(51, 51, 51);
	color: #EEE;
	padding-top: 200px;
}

#generator {
	background-color: #F6F6F6;
	color: #333;
}

#statistics {
	background-color: rgb(51, 51, 51);
	color: #EEE;
}

#about {
	background-color: #F6F6F6;
	color: #333;
}

#about ul {
	padding: 20px 300px;
	font-size: 18px;
}

.home-tile {
	padding: 30px;
	padding-top: 75px;
}