html {
    height: 100%;
}
body {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
}

h1 {
	font-family: "Montserrat", sans-serif;
	text-align: center;
}

h2 {
	font-family: "Montserrat", sans-serif;
	text-align: center;
	font-size: 24px;
}

#main {
	background-color: rgb(51, 51, 51);
	color: #EEE;
	margin-top: 50px;
	padding-top: 150px;
}

#about {
	background-color: #F6F6F6;
	color: #333;
}

#about ul {
	padding: 20px 300px;
	font-size: 18px;
}

.home-tile {
	height: 910px;
	padding: 30px;
	padding-top: 75px;
}